@import 'tailwindcss';

@theme inline {
  --color-primary: #010080; /* e.g: the main color */
  --color-ridot-blue: #2b2bd0; /* e.g: learn more color */
  --color-ridot-gray: #f7f7ff; /* e.g: why choose ridot background */
  --color-ridot-pink: #ffe4e4; /* e.g: success story background */
  --color-ridot-accent-purple: #efefff; /* e.g: accordion background */
  --font-onest: var(--font-onest);
  --breakpoint-xs: 36rem; /* 576px */
  --breakpoint-xxs: 30rem; /* 480px */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  color: rgb(1, 0, 128) !important;
}
.swiper-pagination-bullet {
  background-color: rgb(1, 0, 128) !important;
}
.clip-top-right-notch {
  position: relative;
  border: 2px solid rgb(1, 0, 128);
  border-radius: 10px;
  clip-path: polygon(
    0 0,
    /* top-left */ calc(100% - 30px) 0,
    /* just before the top-right corner */ 100% 25px,
    /* cut inward */ 100% 100%,
    /* bottom-right */ 0% 100%,
    /* bottom-left */ 0 0 /* back to top-left */
  );
}
