@import "tailwindcss";

@theme inline {
  --color-primary: #010080; /* e.g: the main color */
  --color-ridot-blue: #2B2BD0; /* e.g: learn more color */
  --color-ridot-gray: #F7F7FF; /* e.g: why choose ridot background */
  --color-ridot-pink: #FFE4E4; /* e.g: success story background */
  --color-ridot-accent-purple: #EFEFFF;  /* e.g: accordion background */
  --font-onest: var(--font-onest);
}
